/******* GENERAL ******/

h1,h2,h3,h4,p,input{
  margin: 0;
  color: #f5feff;
}
h1{
  font-size: 3.5em;
  margin-top: 3%;
  font-weight: 400;
}
h2,input{
  font-size: 1.8em;
  font-weight: 500;
}
h3{
  font-size: 1.3em;
}
h4,input{
  font-size: 2.5em;
  font-weight: 300;
  margin-left : 3%;
}

li,ul{
  margin: 0;
  padding: 0.1%;
  font-weight: bold;
  color: #f5ecf9;
}

p{
  font-weight: 400;
  font-style: normal;
  font-size: 1.4em;
}


.App-wrapper {
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #282c35;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.My-button {
  height: 6%;
  width: 15%;
  margin-top: 1%;

}
.My-input{
  min-width: 25%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  margin-left: 3%;
  border-color: #ddfcff80;
  border-style: groove;
  border-width: thin;
  border-radius: 9px;
}

/********** CONVERTER ***************/

.Converter-wrapper {
  height: 12%;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Converter-form{
  min-width : 66%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Converter-form > * {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5feff;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}


#conversion-result {
  width: 21%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #f5feff;
  border-color: #ddfcff2b;
  border-style: groove;
  border-width: thin;
  border-radius: 9px;
}

/************** TAPTEMPO*************/

.TapTempo-wrapper {
  position: relative;
  min-height: 18%;
  width: 50%;
  background-color: #63277cbf;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 2%;
  border-radius: 9px;
  box-shadow: 0 0 7px 0 #9ba07954;
  border: solid;
  border-width: thin;
  border-color: #04100247;
}

/************** TEMPOSHOWING *************/

.TempoShowing-wrapper {
  min-height: 60%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.TemposMetrics{
  height: 27%;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-color: #ddfcff;
  border-style: groove;
  border-width: thin;
  border-radius: 9px;
  padding : 0.3%;
}

.TemposList-wrapper{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.TempoValues-containers {
  height: 100%;
  min-width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left-color: #ddfcff36;
  border-left-style: groove;
  border-left-width: thin;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.Tempos{
  max-width: 100%;
}

