/******* GENERAL ******/
html,body > * {
  overflow: hidden;
}
h1,h2,h3,h4,p,input{
  margin: 0;
  color: #f5feff;
}
h1{
  font-size: 2.9em;
  font-weight: 400;
}
h2{
  font-size: 1.8em;
  font-weight: 400;
}
h3,input{
  font-size: 1.3em;
  font-weight: 500;
}
h4,input{
  font-size: 2em;
  font-weight: 300;
  margin-left : 3%;
}

li,ul{
  margin: 0;
  padding: 0.1%;
  font-weight: bold;
  color: #f5ecf9;
}

p {
  font-weight: 300;
  font-style: normal;
  font-size: 1.4em;
}

#bpms-insert{
  width:15em;
}

.App-wrapper {
  text-align: center;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: #282c35;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.My-button {
  height: 3em;
  width: 26%;
  margin-left: 6%;
  margin-right: 6%;
  background-color: #3a404e;
  transition-duration: 0.4s;
  border-radius: 9px;
  box-shadow: 0 0 7px 0 #9ba07954;
  border: solid;
  border-width: thin;
  border-color: #04100247;
}

.My-button:hover,#bpm-input:hover{
  background-color: #455683;
  color: white;
  cursor: pointer;
}

.button:after{
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}

.My-button:focus{
  border-color: #3D1A56;
}

.My-input{
  min-width: 25%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: none;
  margin-left: 3%;
  width: 21%;
  text-align: center;
  color: #f5feff;

}

#bpm-input{
  border-color: #ddfcff2b;
  border-style: groove;
  border-width: thin;
  border-radius: 9px;
  transition-duration: 0.4s;
}

input:hover{
  cursor: pointer;
}

/********** CONVERTER ***************/

.Converter-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Converter-form{
  min-width : 66%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.Converter-form > * {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f5feff;
}


.Converter-form > h4 {
  width : 20%;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}



/************** TAPTEMPO*************/

.TapTempo-wrapper {
  padding: 1%;
  position: relative;
  min-height: 18%;
  width: 50%;
  background-color: #63277cbf;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;;
  border-radius: 9px;
  box-shadow: 0 0 7px 0 #9ba07954;
  border: solid;
  border-width: thin;
  border-color: #04100247;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none;
}

.TapTempo-wrapper:hover {
  cursor: pointer;
}

.Buttons-wrapper {
  width: 78%;
  height: 4%;
  margin-top: 1%;
  margin-bottom: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/************** TEMPOSHOWING *************/

.TempoShowing-wrapper {
  min-height: 60%;
  width: 84%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.TemposMetrics{
  height: 27%;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-color: #ddfcff;
  border-style: groove;
  border-width: thin;
  border-radius: 9px;
  padding : 0.3%;
}

.TemposMetrics > h2 {
  font-size: 1.4em;
}

.TemposList-wrapper{
  height: 60%;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}


.TempoValues-containers {
  height: 100%;
  min-width: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-left-color: #ddfcff36;
  border-left-style: groove;
  border-left-width: thin;
  padding-left: 0.5%;
  padding-right: 0.5%;
}

.Tempos{
  max-width: 100%;
}

